@import '../../variables.scss';

$content-padding-side: 20px;
$footer-height: 50px;

.project-list-item {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
  list-style: none;
  border-radius: 10px;
  background: white;
  transition: 500ms all;
  overflow: hidden;

  &:hover,
  &:focus {
    box-shadow: none;

    .pli-content {
      height: 200px;
    }

    .pli-content-description {
      visibility: visible;
      opacity: 1;
    }
  }
}

.pli-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // height: 250px;
  height: 0;
  padding-bottom: calc(100% - 150px);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }
}

.pli-content {
  position: absolute;
  bottom: $footer-height;
  left: 0;
  width: 100%;
  height: 100px;
  padding: $content-padding-side;
  padding-top: 15px;
  padding-bottom: 15px;
  background: white;
  transition: 500ms all;
  overflow-y: auto;
  @include hide-scrollbar;
}

.pli-content-technologies {
  font-size: 14px;
}

.pli-content-name {
  font-size: 18px;
  font-weight: 600;
  // color: $darkGrey;
}

.pli-content-description {
  margin-top: 17px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: 500ms all;
}

.pli-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 $content-padding-side;
  height: $footer-height;
  background: white;
  border-radius: 0 0 10px 10px;
  z-index: 10;
}

.pli-footer-left {
  font-size: 14px;
}

.pli-footer-right {
  text-transform: uppercase;
  color: $pink;
  font-size: 12px;
  font-weight: 500;

  &:focus {
    text-decoration: underline;
  }
}
