@import '../../variables.scss';

.filter {
  display: flex;
  justify-content: center;
}

.filter-options {
  display: flex;
  margin: -30px;
}

.filter-options-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  margin: 30px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  // transition: 300ms all;

  &.selected {
    background: $pink;
    color: white;
  }
}
