@import '../../variables.scss';

.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background: #1b242f;
  z-index: 1000;

  &.expanded {
    .nav-expanded {
      //   display: block;
      visibility: visible;
      opacity: 1;
    }

    .nav-content-btn {
      span {
        &:first-child,
        &:last-child {
          top: 50%;
          width: 80%;
        }

        &:first-child {
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }

        &:last-child {
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }

        &:nth-child(2) {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: $pink;
    z-index: 50;
  }
}

.nav-content {
  position: relative;
  display: flex;
  align-items: center;
  //   justify-content: space-between;
  height: 100%;
}

.nav-content-links {
  display: flex;
  align-items: center;

  @include responsive(600px) {
    display: none;
  }
}

.nav-link {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  transition: 300ms all;
  cursor: pointer;

  &.active,
  &:hover {
    color: $pink;
  }
}

.nav-content-links-item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.nav-content-btn {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  min-width: 28px;
  max-width: 28px;
  height: 28px;
  cursor: pointer;

  @include responsive(600px) {
    display: block;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 3px;
    background: white;
    transition: 300ms all;

    &:first-child {
      top: calc(50% - 8px);
    }

    &:last-child {
      top: calc(50% + 8px);
    }
  }
}

.nav-expanded {
  //   display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 10px 0;
  background: #333;
  visibility: hidden;
  opacity: 0;
  transition: 300ms all;
}

.nav-expanded-links {
  display: flex;
  flex-direction: column;
}

.nav-expanded-links-item {
  padding: 10px 5%;
}
