@import '../../variables.scss';

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 50px;
  background: #1b242f;
}

.footer-up-btn {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  background: $pink;
  cursor: pointer;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    height: 50%;

    &,
    path {
      fill: white;
    }
  }
}

.footer-social {
  display: flex;
}

.footer-social-item {
  position: relative;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  margin-right: 20px;
  background: #262f38;
  transition: 300ms all;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: $pink;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    height: 50%;

    &,
    path {
      fill: white;
    }
  }
}

.footer-copyright {
  margin-top: 40px;
  color: white;
  // text-transform: uppercase;

  span {
    font-family: 'Open Sans', sans-serif;
    color: $pink;
  }
}
