@import '../../variables.scss';

.section-title {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  line-height: 100%;
  color: $darkGrey;
  text-align: center;
}

.section-title-underline {
  width: 70px;
  height: 4px;
  margin-top: 15px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background: $darkGrey;

  @include lg {
    margin-bottom: 90px;
  }

  @include md {
    margin-bottom: 70px;
  }

  @include sm {
    margin-bottom: 50px;
  }
}
