@import '../../variables.scss';

.section-title {
  transform: translateX(-300px);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  line-height: 100%;
  color: $darkGrey;
  text-align: center;
  opacity: 0;
  transition: 500ms all;
  transition-delay: 100ms;

  &.visible {
    transform: translateX(0);
    opacity: 1;
  }
}

.section-title-underline {
  transform: translateX(-300px);
  width: 70px;
  height: 4px;
  margin-top: 15px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background: $darkGrey;
  opacity: 0;
  transition: 500ms all;
  transition-delay: 500ms;

  &.visible {
    transform: translateX(0);
    opacity: 1;
  }

  @include lg {
    margin-bottom: 90px;
  }

  @include md {
    margin-bottom: 70px;
  }

  @include sm {
    margin-bottom: 50px;
  }
}
