@import './variables.scss';

.app {
  position: relative;
  // padding-top: calc(70px + 30px);
  &,
  a,
  p,
  button,
  input,
  textarea {
    font-family: 'Raleway', sans-serif;
  }

  // &,
  // a,
  // p {
  //   color: $grey;

  //   ::-moz-selection {
  //     color: white;
  //     background: $pink;
  //   }

  //   ::selection {
  //     color: white;
  //     background: $pink;
  //   }
  // }
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  $section-pt: 100px;
  $section-pt-lg: 90px;
  $section-pt-md: 80px;
  $section-pt-sm: 70px;

  padding-top: 100px;
  padding-bottom: 130px;

  &.contact {
    $contact-additional-padding: 70px;

    padding-top: calc($section-pt + $contact-additional-padding);

    @include lg {
      padding-top: calc($section-pt-lg + $contact-additional-padding);
    }

    @include md {
      padding-top: calc($section-pt-md + $contact-additional-padding);
    }

    @include sm {
      padding-top: calc($section-pt-sm + $contact-additional-padding);
    }
  }

  @include lg {
    padding-top: $section-pt-lg;
    padding-bottom: 120px;
  }

  @include md {
    padding-top: $section-pt-md;
    padding-bottom: 100px;
  }

  @include sm {
    padding-top: $section-pt-sm;
    padding-bottom: 70px;
  }
}

.title-medium {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}

.title-small {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
}
